.spectre-footer {
  border-top: 1px solid var(--border);
  padding: 1.5rem var(--edge);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.spectre-footer-l,
.spectre-footer-r {
  font-family: var(--mono);
  font-size: 0.55rem;
  color: var(--t3);
  letter-spacing: 0.1em;
}
